.card {
  background-color: var(--color-card-bg);
  border-radius: 16px;
  padding: 16px;
  margin: 12px;
  box-shadow: 0 4px 10px rgba(15, 3, 3, 0.1);
  max-width: 300px;
}

.name {
  color: var(--color-nature);
  margin-bottom: px;
}

.species {
  font-size: 0.9rem;
  margin-bottom: 12px;
  color: #555;
}

.danger {
  color: var(--color-danger);
  font-weight: bold;
}

.safe {
  color: var(--color-safe);
  font-weight: bold;
}

